<div class="auth-container">
  <div class="auth-form">
    <div class="auth-header">
      <h1>Log in</h1>
    </div>
    <div class='auth-body'>
      <div class="card">
      <form id="login-form" method="post">
        <table>
          <tbody>
            <tr>
              <td><label for="login-account-name"></label></td>
            </tr>
            <tr>
              <td><label for="login-account-password">{{i18n "login.password"}}</label></td>
              <td><a href id="forgot-password-link" {{action "forgotPassword"}}>{{i18n "forgot_password.action"}}</a></td>
            </tr>
            <tr>
              <td></td>
              <td><div class="caps-lock-warning {{unless capsLockOn "hidden"}}">{{d-icon "exclamation-triangle"}} {{i18n "login.caps_lock_warning"}}</div></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </form>
      </div>
    </div>
    <div class="auth-footer"></div>
  </div>
</div>
