<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= preload_script 'ember_jquery' %>
    <%= preload_script "locales/#{I18n.locale}" %>
    <%- if ExtraLocalesController.client_overrides_exist? %>
      <%= preload_script_url ExtraLocalesController.url('overrides') %>
    <%- end %>

    <%= stylesheet_link_tag "auth"%>

    <%= preload_script 'auth-namespace' %>
    <%= preload_script 'auth-vendor' %>
    <%= preload_script 'auth-application' %>
    <%= preload_script "pretty-text-bundle" %>

    <%= render partial: "layouts/head" %>
    <%= csrf_meta_tags %>
    <title><%= content_for?(:title) ? yield(:title) : SiteSetting.title %></title>
  </head>
  <body class="auth">
    <main class="auth-main" id="auth"></main>

    <%= preload_script 'auth-start' %>
  </body>
</html>
