<!DOCTYPE html>
<html lang="<%= html_lang %>" class="<%= html_classes %>">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : SiteSetting.title %></title>
    <meta name="description" content="<%= @description_meta || SiteSetting.site_description %>">
    <meta name="discourse_theme_ids" content="<%= theme_ids&.join(",") %>">
    <meta name="discourse_current_homepage" content="<%= current_homepage %>">
    <%= discourse_csrf_tags %>

    <%- if SiteSetting.enable_escaped_fragments? %>
      <meta name="fragment" content="!">
    <%- end %>

    <%- if shared_session_key %>
      <meta name="shared_session_key" content="<%= shared_session_key %>">
    <%- end %>

    <%= preload_script 'browser-detect' %>

    <%= preload_script "locales/#{I18n.locale}" %>
    <%- if ExtraLocalesController.client_overrides_exist? %>
      <%= preload_script_url ExtraLocalesController.url('overrides') %>
    <%- end %>
    <%= preload_script "ember_jquery" %>
    <%= preload_script "preload-store" %>
    <%= preload_script "vendor" %>
    <%= preload_script "pretty-text-bundle" %>
    <%= preload_script "application" %>

    <%= render_google_tag_manager_head_code %>
    <%= render_google_universal_analytics_code %>
    <link rel="manifest" href="<%= Discourse.base_uri %>/manifest.webmanifest" crossorigin="use-credentials">

    <%- if include_ios_native_app_banner? %>
        <meta name="apple-itunes-app" content="app-id=<%= SiteSetting.ios_app_id %><%= ios_app_argument %>">
    <%- end %>

    <%= render partial: "common/discourse_stylesheet" %>

    <%= tag.meta id: 'data-discourse-setup', data: client_side_setup_data %>

    <%- if !current_user && (data = cookies.delete(:authentication_data, path: Discourse.base_uri("/"))) %>
      <meta id="data-authentication" data-authentication-data="<%= data %>">
    <%- end %>
  </head>

  <body class="<%= body_classes %>">
    <%= render_google_tag_manager_body_code %>
    <noscript data-path="<%= request.env['PATH_INFO'] %>">
      <div id="main-outlet" class="wrap" role="main">
        <!-- preload-content: -->
        <%= yield %>
        <!-- :preload-content -->
      </div>
    </noscript>

    <section id='main'>
    </section>

    <div id='offscreen-content'>
    </div>

    <% unless current_user %>
      <form id='hidden-login-form' method="post" action="<%=main_app.login_path%>" style="display: none;">
        <input name="username" type="text"     id="signin_username">
        <input name="password" type="password" id="signin_password">
        <input name="redirect" type="hidden">
        <input type="submit" id="signin-button" value="<%= t 'log_in' %>">
      </form>
    <% end %>

    <div class="hidden" id="data-preloaded" data-preloaded="<%= preloaded_json %>"></div>
    <%= preload_script "preload-application-data" %>

    <%= yield :data %>

    <%= preload_script 'browser-update' %>
  </body>
</html>
